[STATUS]
status=train

[IO]
type=csv
train_file=dataset/tiki/train.csv
test_file=dataset/tiki/test.csv
text_column=discriptions
label_column=mapped_rating
batch_size=512
val_ratio=0.2
nrows=None
output_dir=output/tiki/models/rnn/3
pretrained_embedding=/data/cuong/data/nlp/embedding/cc.vi.300.vec

[MODEL]
type=rnn
rnn_type=gru
hidden_size=200
n_label=2
embedding_size=300
bidirectional=True
dropout_p=0.0
input_dropout_p=0.0
n_encoder_layer=2
attention=False
attention_type=general

[TRAIN]
use_gpu=True
n_epoch=10
learning_rate=0.001
