[STATUS]
status=train

[IO]
type=csv
train_file=dataset/tiki/train.csv
test_file=dataset/tiki/test.csv
text_column=discriptions
label_column=mapped_rating
batch_size=512
val_ratio=0.2
nrows=None
output_dir=output/tiki/models/cnn/1
pretrained_embedding=/data/cuong/data/nlp/embedding/cc.vi.300.vec

[MODEL]
type=textcnn
n_label=2
embedding_size=300
dropout_p=0.0
filters=3,4,5
filter_size=128

[TRAIN]
use_gpu=True
n_epoch=10
learning_rate=0.01
optim_type=adam
weight_decay=0.2
